@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.menu-header {
    display: flex;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items:center;
  
    background-color: var(--second-color);
    font-family: 'Poppins', sans-serif;
    /* margin-left: auto;*/
    width: 100%; 
    }
  
    .icones {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 10px;
    }
  
    .icon-menu {
      width: 20px;
    }
  
    .bandeira {
      width: 20%;
    }
  
    .logo {
      /*Mudando a cor da fonte do nome*/
      color: white;
      /*Deixando o texto formatado*/
      text-transform: uppercase;
      /*Mudando o espaçamento das letras*/
      letter-spacing: 5px;
      /*Tamaho da letra*/
      font-size: 20px;
    }
  
    .img-logo{
      width: 30%;
    }
  
    .nav-links {
      /*Ajustando o tamanho e posição dos itens*/
      display: flex;
      justify-content: center;
      width: 50%;
    }
  
    .nav-links li {
      /*Sumindo com os pontos que ficavam nos itens*/
      list-style: none;
      margin: 0 10px; 
  
    }
  
    .nav-links a {
      /*Mudando a cor dos itens*/
      color:  #1b7340;
      /*Mudando o espaçamento das letras dos itens*/
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
    }
  
    .burger {
      /*Não deixando o menu hambuguer visivel */
      display: none;
      /*aparecendo a maozinha quando clica no menu hambuguer*/
      cursor: pointer;
    }
  
    .burger div {
      /*Ajeitando o menu Hambuguer*/
      width: 25px;
      height: 3px;
      background-color:  #1b7340;
      margin: 5px;
      transition: all 0.3s ease;
    }
  
    /*Ajustando a altura*/
    @media screen and (max-width:1024px) {
      .nav-links {
        width: 60%;
      }
    }
  
    @media screen and (max-width:768px) {
      .body-home {
        overflow-x: hidden;
      }
  
      /*ajustando os itens para se adequar a altura min.*/
      .nav-links {
          position: fixed;
          right: 0px;
          height: 92vh;
          top: 5vh;
          /*Arrumando o menu*/
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          height: 100%;
          /*Ajeitando a transição parar abrir o menu*/
          transform: translateX(100%);
          transition: transform 0.3s ease-in;
          border-radius: 10px;
        }
    
        .nav-links li {
          opacity: 0;
          margin: 20px 0; 
          justify-content: space-between;
        }
    
        .burger {
          /*para aparecer o menu quando a tela tiver pequena*/
          display: block;
        }
      }
    
      /*Quando se clica no menu , consegue abrir os itens*/
      .nav-active {
        transform: translateX(0%);
      }
    
      /*Animações quando se clica no menu*/
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
    
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    
      /*Transformando o menu em X*/
      .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .toggle .line2 {
        opacity: 0;
    
      }
    
      .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    
    
      @media screen and (max-width: 768px) {
        .nav-links.nav-active li {
          opacity: 1;
        }
      }
  
  @media screen and (min-width:600px) {
    .container{
      display: flex;
    }

    
  }
p {
    font-family: 'DM Sans', sans-serif;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
}

.box {
    display: flex;
    align-items: center; 
    background-color: #EEF7E8;
    padding: 10px; 
    border-radius: 15px; 
    font-weight: bold;
    color: #069E6E; 
    width: 300px; 
    text-align: center;
}

.box p {
    margin: 0;
    flex: 1;
    font-family: 'DM Sans', sans-serif;
}

.box img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.ideias, .catego, .histo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.ideias p, .catego p {
    color: #069E6E;
    font-size: small;
    text-decoration: underline;
    font-family: 'DM Sans', sans-serif;
}

.ideias h3, .ideias p, .catego h3, .catego p, .histo h3{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.populares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}

.item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 250px;
    height: 150px; 
    background-color: #F8F8F8;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px; 
}

.item .text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex: 1; 
    font-family: 'DM Sans', sans-serif;
}

.item p {
    margin: 0;
    color: #069E6E;
    font-weight: normal;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}

.item h4 {
    margin: 0;
    font-weight: bold;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}

.item img {
  
    width: 100px;
    max-width: 100%;
    max-height: 100%;
    height: auto; 
    object-fit: contain; 
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    margin: 20px 0; 
}

.rias {
    display: grid;
    grid-template-columns: repeat(2, 100px); 
    grid-template-rows: repeat(2, 100px); 
    gap: 30px;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto; 
}

.lixo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    margin-right: 15px;
    justify-content: center;
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.blue {
    background-color:rgba(0, 0, 255, 0.3);
}

.yellow {
    background-color:  rgba(255, 255, 0, 0.3);
}

.green {
    background-color:  rgba(0, 128, 0, 0.3);
}

.rias-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; 
}


/*Hover nas imagens*/
.item img {
  transition: transform 0.3s ease; /* Suaviza a animação */
}

.item img:hover {
  transform: scale(1.1); /* Aumenta a imagem para 110% */
}

/* Para as imagens dentro da classe .lixo */
.lixo img {
  transition: transform 0.3s ease; /* Suaviza a animação */
}

.lixo img:hover {
  transform: scale(1.3); /* Aumenta a imagem para 110% */
}

.hidden {
  display: none;
}

#card-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
}

#card-content h4 {
  margin: 0;
  font-size: 18px;
}

#card-content p {
  font-size: 14px;
  margin: 10px 0;
}

#close-card {
  background-color: #069E6E;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
